@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardHighlight {
    min-height: 100%;
}

Form {
    margin-top: 1.25rem;
    width: 88vw;
    .btnRegister {
        margin-top: 0.5rem;
    }
    #submitBtn {
        margin-top: 0.5rem;
    }
}

.card {
    margin-top: 0.9375rem;
    width: 25vw;
}

.banner {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 25px;
    padding: 0;
    height: 45vw;
    align-content: center;
    font-weight: normal;
}

.register-form {
    height: 45vw;
    margin-top: 25px;
    width: 35.4375rem;
}